body {
  background-color: #fafafa;
  margin: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

/* .amplify-button.amplify-field-group__control {
  display: none;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 66vh;
  border: none;
}

.amplify-flex.amplify-field.amplify-textfield:active {
  border: 1px solid #6521ff; 
}

 */
